# Pandas

In [5]:

import pandas as pd
lst1=['a','b','c']
lst2=[1,2,3]
pd.Series(lst1)

0    a
1    b
2    c
dtype: object

In [6]:
pd.Series(lst1,index=lst2)

1    a
2    b
3    c
dtype: object

In [7]:
import pandas as pd
import numpy as np
st1=['a','b','c']
lst2=[1,2,3]
arr=np.array(lst2)
pd.Series(arr,index=lst1)

a    1
b    2
c    3
dtype: int32

# Operations

In [8]:
list=['a','b','c']
list

['a', 'b', 'c']

In [9]:
list_var=list*2
list_var

['a', 'b', 'c', 'a', 'b', 'c']

In [10]:
ser=pd.Series(list)
ser

0    a
1    b
2    c
dtype: object

In [13]:
ser_var=ser*1000
ser_var

0    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...
1    bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb...
2    cccccccccccccccccccccccccccccccccccccccccccccc...
dtype: object

In [14]:
s1=pd.Series([1,2],['Maths','English'])
s1

Maths      1
English    2
dtype: int64

In [19]:
s2=pd.Series([1,2,3],['Maths','Hindi','English'])
s2

Maths      1
Hindi      2
English    3
dtype: int64

In [20]:
s1+s2

English    5.0
Hindi      NaN
Maths      2.0
dtype: float64

## Data Frames

In [25]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)
df=pd.DataFrame(randn(3,3),['a','b','c'],['d','e','f'])
df

          d         e         f
a  2.706850  0.628133  0.907969
b  0.503826  0.651118 -0.319318
c -0.848077  0.605965 -2.018168

In [27]:
df['d']

a    2.706850
b    0.503826
c   -0.848077
Name: d, dtype: float64

In [28]:
type(df['d'])

pandas.core.series.Series

In [29]:
type(df)

pandas.core.frame.DataFrame

In [30]:
df.head(2)

          d         e         f
a  2.706850  0.628133  0.907969
b  0.503826  0.651118 -0.319318

In [31]:
df.tail(1)

          d         e         f
c -0.848077  0.605965 -2.018168

In [33]:
df.tail(2)

          d         e         f
b  0.503826  0.651118 -0.319318
c -0.848077  0.605965 -2.018168

In [34]:
df.isnull().any()

d    False
e    False
f    False
dtype: bool

In [35]:
df.drop('c')

          d         e         f
a  2.706850  0.628133  0.907969
b  0.503826  0.651118 -0.319318